.login{
    position: relative;
    margin: 20vh auto;
    text-align : center;
    border: none;
    font-family:kt_med;
}
 .signup{
    position: relative;
    margin: 20vh auto;
    text-align : center;
    border: none;
    font-family:kt_med;
}

